<form
    class="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>

    <div class="dialog-title">

        <span class="title">
            Editar profissional
        </span>

        <span class="description">
            Atualize as informações do profissional.
        </span>

    </div>

    <div class="form-grid">

        <mat-form-field appearance="outline">

            <mat-label>
                Nome
            </mat-label>

            <input
                matInput
                formControlName="name"
            />

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>
                Telefone
            </mat-label>

            <input
                matInput
                formControlName="phone"
            />

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>
                E-mail
            </mat-label>

            <input
                matInput
                formControlName="email"
            />

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>
                Especialidade
            </mat-label>

            <input
                matInput
                formControlName="specialty"
            />

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>
                CRO
            </mat-label>

            <input
                matInput
                formControlName="cro_number"
            />

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>
                UF CRO
            </mat-label>

            <input
                matInput
                formControlName="cro_state"
            />

        </mat-form-field>

    </div>

    <mat-checkbox
        formControlName="is_active"
    >
        Profissional ativo
    </mat-checkbox>

    <div class="dialog-actions">

        <button
            mat-stroked-button
            type="button"
            mat-dialog-close
        >
            Cancelar
        </button>

        <button
            mat-flat-button
            class="btn-submit"
            type="submit"
        >
            Salvar alterações
        </button>

    </div>

</form>