<div class="table-container">
  <table class="table">
    <thead class="t-head">
      <tr class="t-row">
        @for(column of columnsConfig(); track column.column){
          <th scope="col" class="t-cell">{{ column.value }}</th>  
        }
      </tr>
    </thead>

    <tbody class="t-body">
      @if(dataSource().length === 0){
        <tr class="t-row">
          <td [attr.colspan]="columnsConfig().length" class="t-cell text-center">Nenhum dado encontrado.</td>
        </tr>
      } @else {
          @for(row of dataSource(); track row.id){
          <tr class="t-row">
            @for(column of columnsConfig(); track column.column){
              @switch(column.type){
                @case('text'){
                  <td class="t-cell">{{ row[column.column] ?? '-' }}</td>
                }
                @case('boolean'){
                  <td class="t-cell">{{ row[column.column] ? 'Sim' : 'Não' }}</td>
                }
                @case('price'){
                  <td class="t-cell">{{ row[column.column] | currency:'BRL':'symbol':'1.2-2' }}</td>
                }
                @case('minutes'){
                  <td class="t-cell">{{ row[column.column] }} min</td>
                }
                @case('status'){
                  <td class="t-cell">
                    <span class="status-chip status-chip--{{ row[column.column] }}">
                      @switch(row[column.column]) {
                        @case('Cancelado') {
                          <mat-icon class="status-icon">close</mat-icon>
                        }
                        @case('Concluído') {
                          <mat-icon class="status-icon">check_circle</mat-icon>
                        }
                        @case('Em andamento') {
                          <mat-icon class="status-icon">pending</mat-icon>
                        }
                        @case('Agendado') {
                          <mat-icon class="status-icon">schedule</mat-icon>
                        }
                      }
                      {{ row[column.column] }}
                    </span>
                  </td>
                }
              } 
            }
          </tr>
        }
      }
    </tbody>
  </table>
</div>