.table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: .5rem;

  .table {
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;
    background: var(--bg-surface);
    display: table;

    .t-head {
      background-color:  var(--primary-dark);

      .t-row {
        .t-cell {
          text-align: left;
          padding: 0.75rem 1rem;
          font-weight: var(--weight-500);
          color: var(--text-terciary);
          font-size: var(--text-base);
          border-bottom: 1px solid var(--border);
        }
      }
    }

    .t-body {
      .t-row {
        transition: background 0.2s ease;
        &:hover {
          background-color: #f9fafb;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #f0f0f0;
        }

        .t-cell {
          padding: 0.75rem 1rem;
          color: #4b5563;
          font-size: var(--text-sm);
        }

        .text-center {
          text-align: center;
        }
      }
    }
  }
}

.status-chip {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 500;

  .status-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  &--Agendado {
    background-color: #e3f2fd;
    color: #1976d2;
  }

  &--Em\ andamento {
    background-color: #fff3e0;
    color: #f57c00;
  }

  &--Concluído {
    background-color: #e8f5e9;
    color: #388e3c;
  }

  &--Cancelado {
    background-color: #ffebee;
    color: #d32f2f;
  }
}