:host {
    display: flex;
    flex-direction: column; 
    legend {
        font-size: var(--text-xl);
        font-weight: var(--weight-500);
        color: var(--text-primary);
        margin-bottom: .25rem;
    }
    .section-hint {
        font-size: var(--text-sm);
        color: var(--text-secondary);
        font-style: italic;
        margin-bottom: 1rem;
    }
}